bases:
 - environments.yaml
---

releases:
{{- if .Values.openTelemetryOperator.installed}}
- name: opentelemetry-operator
  namespace: opentelemetry-operator
  chart: open-telemetry/opentelemetry-operator
  disableValidationOnInstall: true
  version: {{ .Values.openTelemetryOperator.version }}
  installed: {{ .Values.openTelemetryOperator.installed }}
  values:
  - templates/opentelemetry-operator.yaml.gotmpl
{{- end }}
