bases:
 - environments.yaml
---

repositories:
- name: open-telemetry
  url: https://open-telemetry.github.io/opentelemetry-helm-charts

releases:
{{- if .Values.openTelemetryOperator.installed}}
- name: opentelemetry-operator
  namespace: opentelemetry-operator
  chart: open-telemetry/opentelemetry-operator
  disableValidationOnInstall: true
  version: {{ .Values.openTelemetryOperator.version }}
  installed: {{ .Values.openTelemetryOperator.installed }}
  values:
  - templates/opentelemetry-operator.yaml.gotmpl
{{- end }}
